<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Séries TV préférées de Vince</title>
  <link href="css/bootstrap.css" rel="stylesheet" />
  <link href="css/bootstrap-theme.css" rel="stylesheet" />
  <script src="js/angular.js"></script>
  <script>
    var myApp = angular.module("myApp", []);

    var model = {
      user: "Vince",
      episodes: [
        { series: "The Good Wife", season: 6, ep: 1, watched: false },
        { series: "Äkta människor", season: 3, ep: 12, watched: true },
        { series: "House of Cards", season: 2, ep: 10, watched: true },
        { series: "Sous le soleil", season: 1, ep: 1, watched: false }
      ]
    };

    myApp.controller('seriesCtrl', function($scope) {
      $scope.data = model;
    });
  </script>
</head>
<body ng-controller="seriesCtrl">
  <header>
    <h1>
      Séries TV préférées de {{data.user}} 
      <span class="label label-default">{{data.episodes.length}}</span>
    </h1>
  </header>
  <div class="panel">
    <div class="input-group">
      <input class="form-control" />
      <span class="input-group-btn">
        <button class="btn btn-default">Ajouter</button>
      </span>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Série</th>
          <th>Saison</th>
          <th>Épisode</th>
          <th>Vu</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="episode in data.episodes">
          <td>{{episode.series}}</td>
          <td>{{episode.season}}</td>
          <td>{{episode.ep}}</td>
          <td>{{episode.watched}}</td>
          <td><input type="checkbox" ng-model="episode.watched" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>